<a class="waves-effect waves-light btn {{if flat 'btn-flat'}} {{buttonClass}} {{if disabled 'disabled'}}"
  {{action "click" on="click"}}>
  {{#if icon}}
    <i class="material-icons {{iconPosition}} {{iconClass}}">{{icon}}</i>
  {{/if}}
  {{text}}
  {{yield}}
</a>